@import "./variables.scss";

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $button-primary;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: $primary-dark;
  border-color: $primary-dark;
  color: $base-bg-light-color;
}

.actions .button-alt {
  color: $button-primary;
}

.actions .button {
  background-color: $button-primary;
  color: $base-bg-light-color;
}
