$base-bg-color: #f7f7f7;
$base-bg-light-color: #fff;
$base-text-color: #101120;
$base-light-text-color: #84d1cf;
$bg-color: #0f3849;
$primary: #44c1ba;
$primary-dark: #0f3849;
$border-light-color: #ccc;
$button-primary: #84d1cf;
$button-primary-hover: #44c1ba;
$button-dark: #0f3849;
$button-dark-hover: #101120;
